@font-face {
  font-family: "Rosamila";
  src: url("/fonts/Rosamila_Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.rosamila {
  font-family: "Rosamila", sans-serif;
}

.test {
  clip-path: inset(0% 0% 0% 0%);
  transition: clip-path 1.5s ease-in-out;
}
